  @tailwind base;
  html {
    scroll-behavior: smooth;
  }
  @tailwind components;
  @tailwind utilities;


  @layer base {
    :root {
      --background: 140 60% 96%;
      --foreground: 142 44% 5%;
      --card: 140 60% 96%;
      --card-foreground: 142 44% 5%;
      --popover: 140 60% 96%;
      --popover-foreground: 142 44% 5%;
      --primary: 140 68% 53%;
      --primary-foreground: 142 44% 5%;
      --secondary: 140 81% 74%;
      --secondary-foreground: 142 44% 5%;
      --muted: 140 61% 20%;
      --muted-foreground: 142 44% 70%;
      --accent: 140 93% 60%;
      --accent-foreground: 142 44% 5%;
      --destructive: 0 85% 60%;
      --destructive-foreground: 142 44% 5%;
      --border: 140 61% 20%;
      --input: 140 61% 20%;
      --ring: 140 93% 40%;
      --radius: 0.5rem;
    }
   
    .dark {
      --background: 140 60% 4%;
      --foreground: 142 44% 95%;
      --card: 140 60% 4%;
      --card-foreground: 142 44% 95%;
      --popover: 140 60% 4%;
      --popover-foreground: 142 44% 95%;
      --primary: 140 68% 47%;
      --primary-foreground: 140 60% 4%;
      --secondary: 140 80% 26%;
      --secondary-foreground: 142 44% 95%;
      --muted: 140 61% 80%;
      --muted-foreground: 142 44% 95%;
      --accent: 140 93% 40%;
      --accent-foreground: 140 60% 4%;
      --destructive: 0 62% 30%;
      --destructive-foreground: 143 45% 10%;
      --border: 140 60% 60%;
      --input: 140 61% 80%;
      --ring: 140 93% 60%;
    }
  }
  

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }